/* Navigation bar */
.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #b71c1c; /* Liverpool red */
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  letter-spacing: 1.2px;
  font-family: "Segoe UI Black", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  height: 100%;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.nav-links li a:hover {
  background-color: #7f0000; /* darker red on hover */
  text-decoration: none;
  height: 100%;
}
